.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

@media screen and (max-width: 1400px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1100px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 850px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.employee-card {
  min-width: 200px;
}
