.p-password-input {
  width: 100%;
}

a {
  text-decoration: none !important;
  color: #495057;
}

.post-review {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.scroll-container {
  max-height: 550px;

  overflow: scroll;
  overflow-x: hidden;

  /* width */
  &::-webkit-scrollbar {
    width: 4px !important;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    color: white !important;
    border: none !important;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 2px !important;
    background: rgba(0, 0, 0, 0.24) !important;
  }
}

html,
body {
  overflow: scroll;
  overflow-x: hidden;

  /* width */
  &::-webkit-scrollbar {
    width: 4px !important;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    color: white !important;
    border: none !important;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 2px !important;
    background: rgba(0, 0, 0, 0.24) !important;
  }
}

.side-panel {
  overflow: scroll;
  overflow-x: hidden;

  /* width */
  &::-webkit-scrollbar {
    width: 4px !important;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    color: white !important;
    border: none !important;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 2px !important;
    background: rgba(0, 0, 0, 0.24) !important;
  }
}

.p-splitbutton.p-button-sm > .p-button {
  padding: 0 !important;
}

.p-menubar {
  border-radius: 0 !important;
}

@media screen and (max-width: 960px) {
  .p-menubar .p-menubar-button {
    display: none !important;
  }
}
